/*Schrijf hier jouw css*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F3D9;
    color: #151E3F;
}

nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    font-weight: 200;
    min-width: 100vw;
    background-color: #030027;
    color: #E6EAEB;
    padding: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    /*column-gap: 40px;*/
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

section {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 1000px;
}

article p.article-text {
    align-self: flex-end;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    height: 350px;
}

article {
    background-color: #C16E70;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    height: 350px;
    max-width: 280px;
    padding: 20px;
    border-radius: 5px;
}


.article-text {
    min-width: 150px;
    flex-grow: 1;
    flex-shrink: 1;
}


.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: space-between;
    height: 150px;
}

div.nav-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.nav-links {
    height: 50px;

}